/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Arial, Helvetica, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
width:510px;
}
.tabcontent h3 {
	font-weight: bold;
	color: #187CC8;
	margin-bottom: 10px;
}


.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 1px 0 0 7px;
	margin-right: 3px;
	/*border: 1px solid #d5d5d5;*/
	border-bottom:0;
	color: #7fa811;
	/*background-color: #EFF1F3;*/
	float:left;
	background-image: url(../images/tabs/left_off.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
}




.shadetabs li a:visited{

}

.shadetabs li a:hover{
	text-decoration: none;
	color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
	border-bottom-color: white;
	/*background-color: red;*/	
	background-image: url(../images/tabs/left_on.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}



.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;

}
}

/*added start*/

.shadetabs li a span{
	float:left;
	text-decoration: none;
	position: relative;
	z-index: 1;	
	margin-right: 0px;	
	border:0;	
	background:url(../images/tabs/right_span_off.gif) no-repeat right top;
	background-color: #EFF1F3;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:7px;
}

.shadetabs li a.selected span{
	float:left;
	text-decoration: none;
	position: relative;
	z-index: 1;
	
	margin-right: 0px;
	
	border:0;
	
	background:url(../images/tabs/right_span_on.gif) no-repeat right top;
	background-color: #EFF1F3;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:7px;
}

.tab_content_container{
	background: url(../images/tabs/tab_content_top.gif) no-repeat top right;
	margin-bottom: 1em; 
	padding: 0px; 
	margin-top:0px;
    min-height:200px;
  	height:auto !important;
  	height:200px;
}

.tab_content_left_border{
	position:absolute; 
	background:url(../images/tabs/tab_content_left_border.gif) no-repeat top left; 
	width:1px; 
	height:216px; 
}

.content_padding{
	padding:10px;

}
/*added end*/

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(../indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 4px;
background: black url(../indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}
